<div>
  <link href="news.css" rel="stylesheet" />
  <section class="news-news">
    <div class="news-previous banner-smaller banner"></div>
    <div class="banner news-current">
      <div class="news-controls swiper-pagination">
        <span
          role="button"
          tabindex="0"
          aria-label="Go to slide 1"
          class="swiper-pagination-bullet"
        ></span>
        <span
          role="button"
          tabindex="0"
          aria-label="Go to slide 2"
          class="swiper-pagination-bullet-active swiper-pagination-bullet"
        ></span>
        <span
          role="button"
          tabindex="0"
          aria-label="Go to slide 3"
          class="swiper-pagination-bullet"
        ></span>
        <span
          role="button"
          tabindex="0"
          aria-label="Go to slide 4"
          class="swiper-pagination-bullet"
        ></span>
        <span
          role="button"
          tabindex="0"
          aria-label="Go to slide 5"
          class="swiper-pagination-bullet"
        ></span>
      </div>
    </div>
    <div class="news-next banner-smaller banner"></div>
  </section>
</div>
