<div>
  <link href="gallery-card1.css" rel="stylesheet" />
  <div class="gallery-card1-gallery-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEyfHxmb3Jlc3R8ZW58MHx8fHwxNjI2MjUxMjg4&ixlib=rb-1.2.1&h=1200"
      class="gallery-card1-image"
    />
    <h2 class="gallery-card1-text"><span>Project Title</span></h2>
    <span class="gallery-card1-text1">
      <span>Lorem ipsum dolor sit amet</span>
    </span>
  </div>
</div>
