<div>
  <link href="hero1.css" rel="stylesheet" />
  <div class="hero1-hero">
    <div class="hero1-container">
      <h1 class="hero1-text"><span>水稻</span></h1>
      <span class="hero1-text1">
        <span>
          稻（Oryza sativa
          L.），通称水稻，是禾本科一年生水生草本（已有多年生稻品种）。秆直立，高0.5-1.5米，随品种而异。叶鞘无毛、松弛；叶舌披针形；叶片线状披针形，宽约1厘米，无毛，粗糙。圆锥花序大型疏展，棱粗糙；小穗含1成熟花；颖极小，仅在小穗柄先端留下半月形的痕迹，锥刺状；两侧孕性花外稃质厚，具5脉，中脉成脊，表面有方格状小乳状突起，厚纸质，遍布细毛端毛较密，有芒或无芒；内稃与外稃同质，具3脉，先端尖而无喙；雄蕊花药长2-3毫米。颖果长约5毫米，宽约2毫米；胚比约为颖果长的1/4。
        </span>
        <br />
        <br />
      </span>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1525498128493-380d1990a112?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxtaW5pbWFsaXNtJTIwZ3JlZW58ZW58MHx8fHwxNjI1ODQxMDcw&ixlib=rb-1.2.1&h=1200"
      class="hero1-image"
    />
  </div>
</div>
