<div>
  <link href="testimonial-card4.css" rel="stylesheet" />
  <div class="testimonial-card4-testimonial-card">
    <svg viewBox="0 0 1024 1024" class="testimonial-card4-icon">
      <path
        d="M225 448c123.712 0 224 100.29 224 224 0 123.712-100.288 224-224 224s-224-100.288-224-224l-1-32c0-247.424 200.576-448 448-448v128c-85.474 0-165.834 33.286-226.274 93.726-11.634 11.636-22.252 24.016-31.83 37.020 11.438-1.8 23.16-2.746 35.104-2.746zM801 448c123.71 0 224 100.29 224 224 0 123.712-100.29 224-224 224s-224-100.288-224-224l-1-32c0-247.424 200.576-448 448-448v128c-85.474 0-165.834 33.286-226.274 93.726-11.636 11.636-22.254 24.016-31.832 37.020 11.44-1.8 23.16-2.746 35.106-2.746z"
      ></path>
    </svg>
    <span class="testimonial-card4-text">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem lorem,
        malesuada in metus vitae, scelerisque accumsan ipsum. Nam pellentesque
        nulla leo, sagittis vehicula sem commodo nec. Integer egestas, quam eu
        convallis ultrices, est nisl rutrum tellus, sed posuere velit nisi sit
        amet ante. In a augue porttitor, porta sapien sed, faucibus felis.
      </span>
    </span>
    <div class="testimonial-card4-profile">
      <img
        alt="John Doe"
        src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE0fHxwb3J0cmFpdHxlbnwwfHx8fDE2MjYzNzg5NzI&ixlib=rb-1.2.1&h=1200"
        class="testimonial-card4-image"
      />
      <div class="testimonial-card4-container">
        <span class="testimonial-card4-text1"><span>John Doe</span></span>
        <span class="testimonial-card4-text2">
          <span>Software Engineer</span>
        </span>
      </div>
    </div>
  </div>
</div>
