{% extends "index_base.html" %} {% block msgBox %}


    {% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>


</head>

<div id="background"
        data-width="100%"
       style="overflow: scroll;
       top: 100px;
       left: 50%;
       margin-left: -600px;
       position: absolute;
       width: 1200px;
       height: 600px;
       border-radius: 20px;
       background-color: rgb(255, 255, 255, 0.6);
        overflow: hidden">
<div id="msg_container"
           style="width: 100%;
           height: 500px;
           overflow: scroll;
            overflow-x: hidden;" >
        <!-- insert here -->
</div>

<div class="home-center" style="width: 1024px; height: 58px;">
    <div class="home-border" style="width: 1024px">
    <div class="home-filter">
    <input
      type="text"
      placeholder="Destination"
      class="home-textinput input"
      id="text_input"
    />
    <div class="home-search"
         id="home-search"
        onclick="sendMsg();">
      <img
        alt="image"
        src={% static 'chatBot/public/Icons/search.svg' %}
        class="home-icon"
      />
    </div>
    </div>
    </div>
</div>

</div>


    <script type="text/javascript">
    function showMsg(msg) {
        let send_message = document.getElementById("msg_container");
        let date = new Date();
        let hour = date.getHours();
        let mm = date.getMinutes();
        let time = hour + ':' + mm;
        let ans = '<div class="chat_right_item_1 clearfix">文涛</div>' +
            '<div class="chat_right_item_2">' +
            '<div class="chat_right_time clearfix">' + time + '</div>' +
            '<div class="chat_right_content clearfix">' + msg + '</div>'
            + '</div>';
        let oLi = document.createElement("div");
        oLi.setAttribute("class", "chat_right");
        oLi.innerHTML = ans;
        send_message.append(oLi);
    }

    function showMsg_robot(msg){
        let send_message = document.getElementById("msg_container");
        // get response from robot

        let msg_parsed = JSON.parse(msg.data);
        console.log(msg_parsed)
        let content = msg_parsed.message;
        let entity = msg_parsed.entity;

        let date = new Date();
        let hour = date.getHours();
        let mm = date.getMinutes();
        let time = hour + ':' + mm;
        let res_html = '<div class="chat_left_item_1 clearfix">robot</div>' +
                '<div class="chat_left_item_2">' +
                '<div class="chat_left_time clearfix">' + time + '</div>' +
                '<div class="chat_left_content clearfix">' + content;
        if (entity != "none"){
            let entity_list = entity.split(",");
            console.log(entity_list)
            for (let i = 0; i < entity_list.length - 1; i = i + 1) {
                res_html = res_html +
                    '<div style="height: 40px; width: 100%; background-color: #32A94C;">' +
                    `<a href="http://127.0.0.1:8000/detail/?entity=${entity_list[i]}" style="line-height: 40px" target="_blank"> 点击进入${entity_list[i]}详情页</a>` +
                    '</div>' +
                    '<div style="height: 5px"></div>'

            }
        }
        res_html = res_html + "</div></div>";

        let res_entity = document.createElement("div");
        res_entity.setAttribute("class", "chat_left");
        res_entity.innerHTML = res_html;
        send_message.append(res_entity);

        document.getElementById('text_input').value = '';
    }

        // send msg to backend
        function sendMsg(){
            const msg_box = document.getElementById("text_input");
            let msg = msg_box.value;
            chat_socket.send(JSON.stringify({
                "message": msg
            }));
            showMsg(msg);
            msg_box.value = "";
        }
        const ws_protocol = (window.location.protocol == "https:") ? 'wss://': 'ws://';
        const chat_socket = new WebSocket(
            ws_protocol + window.location.host + '/ws/chat/'
        );
        // chat_socket.onopen = function(){};
        chat_socket.onmessage = showMsg_robot;
        // chat_socket.onclose = function (){};
    </script>

{% endblock %}