<div>
  <link href="article.css" rel="stylesheet" />
  <div class="article-article">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="article-image"
    />
    <div class="article-content">
      <div class="article-heading">
        <h2 class="article-header"><span>Understand your customers</span></h2>
        <p class="article-description">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </span>
        </p>
      </div>
      <button class="button-arrow button">
        <span class="article-text">Read more</span>
        <span class="article-text1">&gt;</span>
      </button>
    </div>
  </div>
</div>
